.home {
    background-color: #f7f5f5;
    padding: 0 2rem;
}

.home .filter {
    display: flex;
    justify-content: start;
    padding: 1rem 0;
}

.home .filter ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 0.5rem;
}

.filter ul li {
    background-color: #fff0f1;
    color: #12122b;
    font-size: 1.25rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter ul li.active {
    background-color: #12122b;
    color: #fff;
}

.filter ul li:hover {
    background-color: #12122b;
    color: #fff;
}

/* --------------------videos---------------------- */

.videos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}

.video_item {
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    transition: transform 0.2s;
}


.video_item video {
    width: 100%;
    height: auto;
    border-radius: 0.4rem;
}

.info-card {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.video_item .avatar {
    background-color: #ffcc80;
    border-radius: 50%;
    color: #12122b;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.video_item .avatar h1 {
    font-size: 1.2rem;
}

.video_item .text {
    font-size: 1rem;
    line-height: 1.2rem;
    flex: 1;
}

.video_item .date {
    font-size: 1rem;
    color: #888;
    margin-left: auto;
}